body {
  position: absolute;
  background-color: rgb(20, 20, 20);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
#gameContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-aspect-ratio: 3/4) {
  #gameArea, #mainMenu, #gameLoading, #nextLevel, #stageSelect, #gameFinished {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10vw;
    display: none;
  }
  button {
    all: unset;
    cursor: pointer;
    display: block;
    margin: 5% auto;
    width: 25%;
    height: 15vw;
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: -0.1vw;
    text-align: center;
    border-radius: 3vw;
    background: rgb(250, 225, 0);
    color: rgb(10, 10, 10);
  }
  button:active {
    transform: scale(0.95);
  }
  /* Main Menu */
  #gameTitle {
    color: rgb(250, 225, 0);
    margin: 10vh 0;
    margin-bottom: 30vh;
    font-size: 17vw;
    letter-spacing: -0.5vw;
  }
  #footer {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    text-align: center;
    font-size: 1vw;
    color: rgb(128, 128, 128);
    width: 100%;
    left: 0;
    margin-bottom: 3vh;
  }
  #gameVersion {
    margin-bottom: 1vh;
  }
  /* Game */
  #gameNav {
    display: inline-block;
    width: 80%;
    margin: 10% 10% 0;
  }
  #gameLevel {
    display: inline-block;
    font-size: 7vw;
    font-weight: bold;
    letter-spacing: -0.1vw;
    color: rgb(250, 225, 0);
    margin: 0 15% 0 0;
  }
  #backToMenuButton, #undoButton, #resetStageButton {
    display: inline-block;
    width: 17vw;
    height: 10vw;
    font-size: 3.5vw;
    border-radius: 2.3vw;
    background: rgb(250, 225, 0);
  }
  #backToMenuButton {
    margin: 0 3% 0 15%;
    margin-bottom: 0;
  }
  #undoButton {
    margin: 0 15% 0 10%;
  }
  #resetStageButton {
    margin: 0 10% 0 15%;
  }
  #canvasWrapper {
    text-align: center;
    margin: 5vh auto;
  }
  /* Stage Select Menu */
  #stageSelectButtons {
    margin-top: 20vh;
  }
  .fiveStageSelectButtons {
    display: block;
  }
  .fiveStageSelectButtons button {
    display: inline-block;
    background: rgb(128, 128, 128);
    width: 10vw;
    height: 10vw;
    margin: 2% 1%;
  }
  /* #backToTitleButton, #resetDataButton {
    display: inline-block;
  } */
  /* Next Level */
  #completeStage, #finishedBox {
    display: block;
    width: 80%;
    height: 60vw;
    border: 1vw solid rgb(250, 225, 0);
    border-radius: 5vw;
    margin: 30vh auto 0;
  }
  #congratsText {
    margin: 10vw auto 13vw;
    font-size: 10vw;
    letter-spacing: -0.3vw;
    /* text-align: center; */
    color: rgb(225, 225, 225);
  }
  /* Game Finished */
  #finishedText {
    margin: 5vw auto 10vw;
    font-size: 6vw;
    letter-spacing: -0.1vw;
    text-align: center;
    color: rgb(225, 225, 225);
  }
}
@media (min-aspect-ratio: 3/4) {
  #gameArea, #mainMenu, #gameLoading, #nextLevel, #stageSelect, #gameFinished {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10vh;
    display: none;
  }
  button {
    all: unset;
    cursor: pointer;
    display: block;
    margin: 3vh auto;
    width: 17vh;
    height: 10vh;
    font-size: 3.5vh;
    font-weight: bold;
    letter-spacing: -0.1vh;
    text-align: center;
    border-radius: 2vh;
    background: rgb(250, 225, 0);
    color: rgb(10, 10, 10);
  }
  button:active {
    transform: scale(0.95);
  }
  /* Main Menu */
  #gameTitle {
    color: rgb(250, 225, 0);
    margin: 10vh 0;
    margin-bottom: 30vh;
    font-size: 13vh;
    letter-spacing: -0.5vh;
  }
  #footer {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    text-align: center;
    font-size: 1vh;
    color: rgb(128, 128, 128);
    width: 100%;
    left: 0;
    margin-bottom: 3vh;
  }
  #gameVersion {
    margin-bottom: 1vh;
  }
  /* Game */
  #gameNav {
    display: inline-block;
    width: 90%;
    margin: 0 5% 0;
  }
  #gameLevel {
    display: inline-block;
    font-size: 6vh;
    font-weight: bold;
    letter-spacing: -0.1vh;
    color: rgb(250, 225, 0);
    margin: 0 15% 0 0;
    left: 0;
  }
  #backToMenuButton, #undoButton, #resetStageButton {
    display: inline-block;
    width: 15vh;
    height: 9vh;
    font-size: 3vh;
    border-radius: 2vh;
    background: rgb(250, 225, 0);
  }
  #backToMenuButton {
    margin: 0 0 0 15%;
    margin-bottom: 0;
  }
  #undoButton {
    margin: 0 15% 0 0;
  }
  #resetStageButton {
    margin: 0 0 0 15%;
  }
  #canvasWrapper {
    text-align: center;
    margin: 3vh auto 0;
  }
  /* Stage Select Menu */
  #stageSelectButtons {
    margin-top: 20vh;
    margin-bottom: 10vh;
  }
  .fiveStageSelectButtons {
    display: block;
    font-size: 7vh;
  }
  .fiveStageSelectButtons button {
    display: inline-block;
    background: rgb(128, 128, 128);
    width: 7vh;
    height: 7vh;
    margin: 1vh 1vh;
  }
  /* #backToTitleButton, #resetDataButton {
    display: inline-block;
  } */
  /* Next Level */
  #completeStage, #finishedBox {
    display: block;
    width: 70vh;
    height: 55vh;
    border: 1vh solid rgb(250, 225, 0);
    border-radius: 5vh;
    margin: 20vh auto 0;
  }
  #congratsText {
    margin: 10vh auto 13vh;
    font-size: 8vh;
    letter-spacing: -0.3vh;
    color: rgb(225, 225, 225);
  }
  /* Game Finished */
  #finishedText {
    margin: 5vh auto 10vh;
    font-size: 5vh;
    letter-spacing: -0.1vh;
    color: rgb(225, 225, 225);
  }
}